@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23000000' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
    filter: brightness(110%);
}

button:active {
    transform: translate(0, .3rem);
    box-shadow: 0 .1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.5rem;
}

/*Loader*/
@keyframes ldio-tsosjb63ufl {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-tsosjb63ufl div > div {
    position: absolute;
    width: 13.100000000000001px;
    height: 13.100000000000001px;
    border-radius: 50%;
    background: #333;
    animation: ldio-tsosjb63ufl 0.8849557522123893s linear infinite;
}

.ldio-tsosjb63ufl div:nth-child(1) > div {
    left: 98.5px;
    top: 58.5px;
    animation-delay: -0.7743362831858406s;
}

.ldio-tsosjb63ufl > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 105.05px 65.05px;
}

.ldio-tsosjb63ufl div:nth-child(2) > div {
    left: 86.5px;
    top: 86.5px;
    animation-delay: -0.663716814159292s;
}

.ldio-tsosjb63ufl > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 93.05px 93.05px;
}

.ldio-tsosjb63ufl div:nth-child(3) > div {
    left: 58.5px;
    top: 98.5px;
    animation-delay: -0.5530973451327433s;
}

.ldio-tsosjb63ufl > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 65.05px 105.05px;
}

.ldio-tsosjb63ufl div:nth-child(4) > div {
    left: 31.5px;
    top: 86.5px;
    animation-delay: -0.44247787610619466s;
}

.ldio-tsosjb63ufl > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 38.05px 93.05px;
}

.ldio-tsosjb63ufl div:nth-child(5) > div {
    left: 19.5px;
    top: 58.5px;
    animation-delay: -0.331858407079646s;
}

.ldio-tsosjb63ufl > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 26.049999999999997px 65.05px;
}

.ldio-tsosjb63ufl div:nth-child(6) > div {
    left: 31.5px;
    top: 31.5px;
    animation-delay: -0.22123893805309733s;
}

.ldio-tsosjb63ufl > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 38.05px 38.05px;
}

.ldio-tsosjb63ufl div:nth-child(7) > div {
    left: 58.5px;
    top: 19.5px;
    animation-delay: -0.11061946902654866s;
}

.ldio-tsosjb63ufl > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 65.05px 26.049999999999997px;
}

.ldio-tsosjb63ufl div:nth-child(8) > div {
    left: 86.5px;
    top: 31.5px;
    animation-delay: 0s;
}

.ldio-tsosjb63ufl > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 93.05px 38.05px;
}

.loadingio-spinner-spin-qi18rj4p8l8 {
    width: 131px;
    height: 131px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-tsosjb63ufl {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-tsosjb63ufl div {
    box-sizing: content-box;
}

/*Media query: Tablet or smaller*/
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2.75rem;
    }
}
